[build-system]
requires = ["setuptools", "wheel"]

[tool.black]
line-length = 100

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["E","F","I","UP"]
ignore = []

[tool.mypy]
python_version = "3.10"
warn_unused_ignores = true
strict = true
